<h1>Welcome to the Haunted Hallows Hotel </h1>

<%= link_to "Register", "/guests/new" %></br>
<%= link_to "Book a Room", "/bookings/new" %></br>
<%= link_to "Explore the Hotel", "/floors/index" %></br>