<h1>List of Rooms</h1>

<% @rooms.each do |room| %>
    <h3>Floor <%= room.floor %></h3></br>
    <p>Room Number <%= room.floor %></p></br>
    <p>Do Not Disturb? <%= room.do_not_disturb %></p></br>
    <p> Note on Room Door: </p></br>
    <%= room.note %></br>
<% end %>
